.left-side-bar {
    width: 10%;
    background: #3c8486;
    box-shadow: 0px 0px 4px 5px lightgrey;
    position: relative;
    color: black;


    .menu-bar {
        // padding: 20px;
        display: flex;
        height: max-content;
        flex-direction: column;

        .expand_dropdownsec {
            // margin-bottom: 25px;

            .active_head {
                font-size: 19px;
                background-color: #e1ebf0;

                // margin-bottom: 30px;
                svg {
                    font-size: 26px;
                }
            }

            .inactive_head {
                font-size: 19px;
                // margin-bottom: 30px;

                svg {
                    font-size: 26px;
                }
            }

            a {
                display: block;
                color: black;
                text-decoration: none;
                margin-left: 20px;
                font-weight: 500;
                margin-bottom: 5px;
                font-size: 12px;
            }

            .dropdown_list1 {
                display: none;
            }

            .dropdown_list2 {
                display: block;
                transition: .5s ease-in;
            }
        }
    }

    .logo {
        width: 75px;
        margin: 30px auto;
        display: block;
        user-select: none;

    }

    .copyright {
        color: $textBlack;
        text-align: center;
        position: absolute;
        bottom: 0;
        margin: auto;
        width: 100%;

        p {
            color: $textBlack;
            font-size: 0.7rem;
            font-weight: normal;
            user-select: none;
        }
    }
}