.hourly-production {

    // .header-name {
    //     text-align : center;
    //     font-size  : 22px;
    //     font-weight: bold;
    //     font-family: initial;
    // }


    .header_bar {
        width: 100%;
        border: none;
        padding: 5px 0px;
        background-color: white;
        border-radius: 5px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;


        h2 {
            margin-bottom: 5px;
            font-size: 18px;
            font-weight: bold;
            margin-left: 20px;

        }

        .btn-outline-dark {
            padding: 2px 10px;
            margin-right: 20px;

        }
    }

    .navbar {
        position: sticky;
        top: 0;
        z-index: 999999;
    }

    .card-header span {
        font-size: 0.8rem;
        font-weight: bold;
    }

    table.table.table-striped.table-bordered.table-condensed {
        font-size: 0.8rem;

        .totalall {
            font-weight: bolder;
            // text-align: center;
        }

        .styleactual {
            background-color: whitesmoke;
        }

        .tdNoPlan {
            text-align: center;
            font-style: italic;
        }

        td {
            &.color1 {
                background-color: rgb(238, 104, 104);


            }

            &.color2 {
                background-color: gold;
            }

            &.color3 {
                background-color: rgb(123, 238, 123);
                text-align: center;
            }
        }

    }




    .hour-images {
        background-color: red;
    }
}

.modal-form {
    .dashMenus {
        padding: 20px;
        display: block;
        text-align: center;
    }

    .dashMenuItem {
        display: inline-block;
        padding: 3px;
        text-align: center;
        border: 1px solid grey;
        border-radius: 6px;
        margin-left: 20px;
        min-width: 150px;
        max-width: 220px;
    }

    .dashMenuItem:hover {
        box-shadow: 1px 1px 10px 3px grey;
        cursor: pointer;
        background-color: lightgoldenrodyellow;
    }

    .dashMenuItem:hover div {
        font-weight: 600;
    }

    img.hour-images {
        height: 90px;
        margin: 10px 10px;
    }

    .form-select {
        margin: 10px 10px;
    }

    span {
        font-size: 19px;
        font-weight: bold;
    }
}

.table>:not(caption)>*>* {
    padding: 5px !important;
}